.header-menu-link-thin {
    color: #474b5d;
    font-size: 17px;
    cursor: pointer;
}

.header-menu-link {
    font-weight: 600;
    font-size: 18px;
    color: #111827;
    cursor: pointer;
}
.footer-menu-link {
    color: white;
    font-size: 18px;
}
.product-list-item {
    @apply text-gray-900 relative;
    font-size: 14px;
    padding-left: 20px;
}
.product-list-item::before {
    content: "";
    @apply rounded-full absolute top-1/2 left-[10px] transform -translate-x-1/2 -translate-y-1/2 w-[3px] h-[3px] bg-gray-900;
}

.title {
    @apply font-bold text-gray-900;
    font-size: 26px;
}
